# Composer output
/vendor/
composer.lock

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
logs/
error_log

# Environment files
.env
.env.local
.env.production
.env.development

# PHPStorm / VSCode / Editor
.idea/
.vscode/

# Cache
cache/
tmp/
*.cache

# Backup files
*.bak
*.old
*.orig

node_modules/
uploads/

# Swagger cache
/swagger-dist/